.profile {
    margin: 0 auto;
    padding: 74px 0 0;
    max-width: 410px;
    min-height: 100vh;
    text-align: center;
    box-sizing: border-box;
}
  
.profile__container {
    margin: 220px 0 0;
    display: flex;
    flex-direction: column;
}

.profile__button {
    background: transparent;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
  
.profile__button:hover {
    opacity: 0.7;
}

.profile__button_disabled {
    color: #000000;
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}
  
.profile__button_type_logout {
    margin: 16px 0 0;
    color: #FF4062;
}

.profile__button-submit {
    width: 100%;
    background: #000000;
    border-radius: 3px;
    color: #FFFFFF;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 13px 0 15px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.profile__button-submit:hover {
    opacity: 0.8;
}
  
.profile__button-submit_disabled {
    background-color: #F8F8F8;
    border: 1px solid #A0A0A0;
    color: #000000;
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

input:disabled {
    background-color: transparent;
}

@media (max-width: 768px) {
    .profile {
        padding: 236px 0 0;
    }
  
    .profile__container {
        margin: 210px 0 0;
    }
}
  
@media (max-width: 450px) {
    .profile {
        padding: 70px 30px 0;
    }
  
    .profile__container {
        margin: 379px 0 0;
    }
}