.form {
    display: flex;
    flex-direction: column;
}
  
.form_in_profile {
    padding-top: 123px;
}
  
@media (max-width: 768px) {
    .form_in_profile {
        padding-top: 96px;
    }
}
  
@media (max-width: 450px) {
    .form_in_profile {
        padding-top: 80px;
    }
}