.infotool {
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 25px;
    z-index: 1;

    width: 100%;
    height: 100%;

    display: flex;
    background-color: #00000080;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s linear, opacity .3s linear;
}
  
.infotool_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: visibility .3s linear, opacity .3s linear;
    cursor: pointer;
}
  
.infotool__container {
    width: 430px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 34px 36px 37px;
    position: relative;
    cursor: initial;
}
  
.infotool__result-icon {
    display: flex;
    margin: 26px auto 32px;
    width: 120px;
    height: 120px;
}
  
.infotool__message {
    color: #000000;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    text-align: center;
}
  
.infotool__close-button {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
    background: url("../../images/popup-close-button.svg");
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    transition: opacity 0.3s ease;
}
  
.infotool__close-button:hover {
    opacity: 0.6;
}
  
@media (max-width: 550px) {
    .infotool__close-button {
        top: -45px;
        right: -25px;
    }
  
    .infotool {
        padding: 0 40px;
    }
}